* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
    font-family: Barlow;
    outline: none;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 27px;
    font-weight: 600;
    line-height: 38.4px;
    text-align: center;
    color: #1576D6;
    text-align: center;
    padding-bottom: 30px;
}
.main-container{
    padding: 50px;
    width: 100%;
    max-width: 461px;
    margin: 10%;
    background-color: #FFFFFC;
    border: 1px solid #BBD0FF;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
label{
    color: #25292C;
}
input{
    margin: 5px 0px 16px 0px ; 
    display: block;
    width: 361px;
    height: 50px;
    padding: 10px ;
    border-radius: 8px;
    border: 1px solid #6C757D80;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

button{
    margin-top: 16px;
    background-color: #25292C;
    color: antiquewhite;
    width: 361px;
    height: 50px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

}